.bot {
  background-color: #2c2f33;
  width: 25%;
}

.top {
  /* padding-left: 50px; */
  padding-right: 2rem;
  background-color: #2c2f33;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  border-color: red;
  border-width: 50px;
}

.body {
  background-color: #2c2f33;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  /* height: calc(100% - 60px); */
  overflow: hidden;
}
.sideview{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  


}
.users{
  background-color: blue;
  display: flex;
  flex:4;
  flex-flow: column nowrap;
  justify-content: space-between  ;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;


  
}
.optionPlaceHolder{
  flex:1;
}

.chats {
  /* border-color: red; */
  /* border-width: thick; */
  background-color: #1a1c1f;
  border-radius: 50px;
  /* background-color: #2c2f33; */
  /* border-top-left-radius: 15px; */
  /* min-width: 20em;
    max-width: 20em; */
  overflow: hidden;
  width: 100%;
}

.message-area {
  border-radius: 25px;
  background-color: #36393f;
  padding-left: 1em;
  flex: 1 1 auto;
  border-top-right-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 148%;
  overflow-y: scroll;
  display: flex;
}

.parent {
  display: flex;
  flex-flow: column;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  flex-direction: column;
  height: 100%;
}

.message-container {
  padding: 8px;
  height: 100%;
  margin-bottom: 30px; /* Set to height of chat-box div */
}

.chat-chatbox-area {
  display: flex;
  flex-direction: column;
  background-color: blue;
  flex-grow:1;
  /* width: 100%; */
}

.chat-box {
  height: 60px;
  background-color: #2c2f33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: auto;
  width: 100%;
}

.chat-box input[type="text"] {
  flex: 1;
  background-color: #2c2f33;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 16px;
  font-size: 16px;
  padding-right: 200px;
}

.chat-box button[type="submit"] {
  background-color: #7289da;
  color: white;
  border: none;
  padding: 10px 16px;
  /* margin-left: -10px; */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.chat-box button[type="submit"]:hover {
  background-color: #5a68a5;
}

.groups {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}

::-webkit-scrollbar {
 display: none;
}

.groups > h1 {
  display: flex;
  margin-right: 10px;
}

/* .userName {
  display: block;
} */

.info-sidebar {
  align-items: center;
  display: flex;
}

.settings-svg {
  padding-right: 7px;
}

.pop-up {
  border-radius: 50px;
  border: 5px solid white;
  position: fixed;
  top: 150px;
  bottom: 250px;
  left: 900px;
  width: 1000px;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-img {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  cursor: pointer;
}

.username {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.message-div {
  display: flex;
  align-items: center;
}

.message-div > h1 {
  font-size: 30px;
  padding: 12px;
  margin-left: 10px;
  color: white;
  display: inline-block;
  border: 1px solid white;
  border-radius: 10%;
}
