.color-selector:hover {
    cursor: pointer;
  }
  
  .yellow {
    background-color: Gold;
  }
  
  .red {
    background-color: Coral;
  }
  
  .blue {
    background-color: RoyalBlue;
  }
  
  .green {
    background-color: PaleGreen;
  }
  
  .white {
    background-color: WhiteSmoke;
  }

  .colourButtons {
    text-align: center;
    margin: 20px;
    flex: 1
  }