.color-selector:hover {
    cursor: pointer;
  }
  
  .normal {
    font-style: normal;
  }
  
  .italic {
    font-style: italic;
  }
  
  .oblique {
    font-style: oblique;
  }
  .colourButtons {
    background-color: "orange";
    /* mix-blend-mode:"multiply", */
  } 

  .Courier{
    font-family: 'Courier New', Courier, monospace;
  }
  .Times{
    font-family: 'Times New Roman', Times, serif;
  }
  .Arial {
    font-family: Arial, Helvetica, sans-serif;
  }
