.settingsParent {
  
  background-image: none;
  background-color: rgb(82, 82, 82);
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-flow: column wrap;
  position: absolute;
  flex-direction: row;

}


